doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Chain
    link(rel="stylesheet" href="/stylesheets/index.css")
    script(src="/socket.io/socket.io.js") // Include Socket.IO client library
    script(src="/javascripts/index.js" defer) // Ensure index.js is loaded after DOM is parsed
  body
    .app
      .dm-sidebar
        .dm-header
          span Direct Messages
          .add-dm +
        .dm-list
          each dm in dmList
            a.dm-item(href=`/${dm.id}`)
              .avatar
                img(src="https://via.placeholder.com/40" alt="User Avatar")
              .dm-info
                .dm-name= dm.name
                if dm.members
                  .dm-members= dm.members
      .main-content
        .main-content-header
          .header-left
            if channelName
              .dm-header= channelName
          .header-right
            if user
              a.user-header(href="#")
                .user-header-username= user.username
                .avatar
                  img(src="https://via.placeholder.com/40" alt="User Avatar")
            else
              a.user-header(href="#")
                .user-header-login= "Login"
        if messageList && messageList.length > 0
          .message-list
            each message in messageList
              .message-item
                .avatar
                  img(src="https://via.placeholder.com/40" alt="User Avatar")
                .message-info
                  .message-stats
                    .message-username= message.username
                    .message-date= message.date
                  .message-message= message.message
        if channelName
          .message-input
            input(type="text" placeholder="Type a message..." id="messageInput")
            button.send-button Send
